<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="charset=UTF-8">
    <title>계정 상세보기</title>
</head>
<body>
<form th:action="@{/account/updateAccount}" method="post">
    <input name="seq" type="hidden" th:value="${member.seq}">
    <table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
        <tr>
            <td bgcolor="#ffb6c1" th:text="번호">번호</td>
            <td th:text="${member.seq}"></td>
        </tr>
        <tr>
            <td bgcolor="#ffb6c1" th:text="ID"></td>
            <td>
                <input name="id" type="text" th:value="${member.id}">
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffb6c1" th:text="Password"></td>
            <td>
                <input name="password" type="text" th:value="${member.password}">
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffb6c1" th:text="Email"></td>
            <td>
                <input name="email" type="text" th:value="${member.email}">
            </td>
        </tr>
        <tr>
            <input type="submit" value="수정 완료">
        </tr>
<!--        <tr>-->
<!--            <a class="btn write fl" th:href="@{/updateBoard(seq=${board.seq})}">-->
<!--                <button>수정하기</button>-->
<!--            </a>-->
<!--        </tr>-->
    </table>
</form>
<!--get 방식으로 member.id 파라미터 가지고 board로 이동-->
<!--타임리프 문법으로는 member 기준으로 필드값을 출력하고 있으므로, selectBoard에 파라미터 값을 board.member.id로 넘겨 줄 경우
 그에 따른 member와 board와의 관계를 타임리프에서 인지하고,
 클라이언트에서 서버로 넘어갈 때 entity가 board.member.id를 인지하고 객체화 시켜야 하는 문제-->
<a th:href="@{/board/selectBoard(id=${member.id})}">
    <button>회원게시글 보기</button>
</a>
</body>
</html>